
/* Gemensamma stilar för både mobil och PC */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px;
}

h1 {
    color: #007bff;
}

li {
    background-color: #9da712;
    
    
}
/* Media query för mobila enheter */
@media (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 30px;
        font-size: 1.5rem;
    }
    h1 {
        color: #007bff;
    }
    

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 0.3rem;
    }
}

/* Media query för PC */

@media (min-width: 769px) {
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 30px;
        font-size: 2rem;
    }

    nav ul {
        justify-content: flex-end;
    }
}